<html lang="en">
<%- include('partials/header') %>

<%- include('partials/nav')%>
  <header>
    <div class="smoothie">
      <img src="/smoothie.png" alt="" />
    </div>
    <div class="headings">
      <h2>Smoothie Recipes</h2>
      <h3>By Vivian By Vivian</h3>
      <a href="/smoothie.png" class="btn">View Recipes</a>
    </div>
  </header>
  <%- include('partials/footer'); -%>

</html>








