<html lang="en">
<%- include('partials/header') %>

  <body>
    <div class="smoothie">
      <img src="/smoothie.png" alt="" />
    </div>
    <div class="headings">
      <h2>Smoothie Recipes</h2>
      <h3>By Vivian By Vivian</h3>
      <a href="/smoothie.png" class="btn">View Recipes</a>
    </div>
    <%- include('partials/footer'); -%>
  </body>

</html>








